
.menu-bar{
background-color: red;
text-align: center;
height:40%;
width:100%;
}

.button{
background: #717777;
width: 32%;
margin: 0.5%;
float: left;
font-size:5;
font: white;
border-radius:20%;
height:50%;
}

